body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  max-width: 100%;
}

.table-scroll {
  overflow-x: auto;
}

h1 {
  font-size: 2rem;
  color: #333;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.intro {
  max-width: 1000px;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.2rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
  top: 0;
}

.header-col {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  position: sticky;
  left: 0;
  z-index: 10;
}

.pass-aa {
  background-color: #d4edda;
}

.pass-aaa {
  background-color: #28a745;
  color: white;
}

.fail {
  background-color: #f8d7da;
}

.color-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  vertical-align: middle;
  margin-right: 5px;
}

.legend {
  margin: 2rem 0 3rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: fit-content;
}

.legend-item {
  display: inline-block;
  margin-right: 20px;
}

.legend-badge {
  padding: 2px 8px;
}

.legend-badge-aaa {
  background: #28a745;
  color: white;
}

.legend-badge-aa {
  background: #d4edda;
}

.legend-badge-fail {
  background: #f8d7da;
}

.orange {
  font-weight: bold;
  color: #f78e1e;
  padding: 1rem 0 2rem;
}

a {
  display: block;
  margin: 2rem 0;
}
